.PrevCardsContainer{
    height : 100% ;
    display:block ;
    width:100%;
    padding : 20px ;
}
.PrevCardContainer a{
    height : 120px ;
}
.PrevCardContainer img{
    border-radius : 50% ;
    object-fit: contain ;
    margin : 10px  ;
}