.PrevCardsContainer{
    padding : 20px ;
    width:100%;
    overflow: auto;
    display: flex;
    flex-wrap : wrap ;
    justify-content: center;
    height: fit-content;
}
.PrevCardsContainer h2{
    width:100%;
}
.Card{
    padding : 10px  ;
    box-sizing : border-box;
}
.Card img{
    border-radius : 50% ;
    object-fit: contain ;
}
.NoCards{
    padding : 20px ;
    display: flex;
    text-align : center;
    align-items: center;
    height:100%;
}
@media only screen and (max-width:400px) {
    .PrevCardsContainer{
        display: flex;
        flex-wrap : wrap ;
        justify-content: center;
    }

}