.PrevCardsContainer{
    padding : 20px ;
    width:100%;
}

.PrevCardContainer img{
    border-radius : 50% ;
    object-fit: contain ;
    margin : 10px  ;
}
.NoCards{
    padding : 20px ;
    display: flex;
    text-align : center;
    align-items: center;
    height:100%;
}